#!/usr/sbin/nft -f
flush ruleset

table inet filter {
  chain input {
    type filter hook input priority 0; policy drop;

    include "{{ firewall_nftables_extra_config_inet_input_dir }}/*.nft"
  }

  chain forward {
    type filter hook forward priority 0; policy drop;

    include "{{ firewall_nftables_extra_config_inet_forward_dir }}/*.nft"
  }

  chain output {
    type filter hook output priority 0; policy accept;

    include "{{ firewall_nftables_extra_config_inet_output_dir }}/*.nft"
  }
}

table ip nat {
  chain postrouting {
    type nat hook postrouting priority 100;

    include "{{ firewall_nftables_extra_config_ip_nat_postrouting_dir }}/*.nft"
  }
}
